[Unit]
Description=Raspi Alarm System
After=network.target
Wants=network-online.target

[Service]
Restart=always
Type=simple
WorkingDirectory=<checkout_dir>/raspi-alarm
ExecStart=<checkout_dir>/venv/bin/python3 main.py
User=<checkout_user>
Group=<checkout_group>

[Install]
WantedBy=multi-user.target